# Ejercicio de prueba

# Parte 1:

1.1 Crear un dataframe dentro de python (desde un diccionario), el DataFrame debe contener: Regiones de Chile, Poblacion, PIB, GINI y IDH. Describa el dataframe

In [22]:
import pandas as pd
import numpy as np
import random as rd
#creamos el dataframe
Nombre_Region=['Arica y Parinacota','Tarapacá','Antofagasta','Atacama','Coquimbo','Valparaiso','Metropolitana','Libertador General Bernardo OHiggings','Maule','Ñuble','Biobio','La Araucania','Los Rios','Los Lagos','Aysen del General Carlos Ibañez del Campo','Magallanes y de la Antartica Chilena']
Abreviatura_Region=['AP','TA','AN','AT','CO','VA','RM','LI','ML','NB','BI','AR','LR','LL','AI','MA']
Territorio_Region=[16873,42225,126049,75176,40579,16396,15403,16387,30296,13178,23890,31842,18429,48583,108494,132297]
Poblacion_Region=[259802,406287,714142,319992,879267,2010849,8420729,1025586,1171982,521711,1681225,1028201,411205,907429,108306,182217]
PIB_Region=[10126,20379,37282,21094,11808,12319,16836,13673,11141,8467,12296,9276,10768,12757,18708,17284]
GINI_Region=[0.425,0.429,0.439,0.454,0.462,0.459,0.507,0.412,0.461,0.480,0.480,0.503,0.487,0.486,0.486,0.464]
IDH_Region=[0.882,0.882,0.875,0.855,0.830,0.867,0.883,0.820,0.790,0.826,0.826,0.786,0.795,0.795,0.807,0.864]
CHILE_REGIONES={'Nombre_Region':Nombre_Region,'Abreviatura_Region':Abreviatura_Region,'Territorio_Region':Territorio_Region,'Poblacion_Region':Poblacion_Region,'PIB_Region':PIB_Region,'GINI_Region':GINI_Region,'IDH_Region':IDH_Region}

CHILE_DATAFRAME=pd.DataFrame(CHILE_REGIONES)
CHILE_DATAFRAME

,Nombre_Region,Abreviatura_Region,Territorio_Region,Poblacion_Region,PIB_Region,GINI_Region,IDH_Region
0,Arica y Parinacota,AP,16873,259802,10126,0.425,0.882
1,Tarapacá,TA,42225,406287,20379,0.429,0.882
2,Antofagasta,AN,126049,714142,37282,0.439,0.875
3,Atacama,AT,75176,319992,21094,0.454,0.855
4,Coquimbo,CO,40579,879267,11808,0.462,0.830
5,Valparaiso,VA,16396,2010849,12319,0.459,0.867
6,Metropolitana,RM,15403,8420729,16836,0.507,0.883
7,Libertador General Bernardo OHiggings,LI,16387,1025586,13673,0.412,0.820
8,Maule,ML,30296,1171982,11141,0.461,0.790
9,Ñuble,NB,13178,521711,8467,0.480,0.826
10,Biobio,BI,23890,1681225,12296,0.480,0.826
11,La Araucania,AR,31842,1028201,9276,0.503,0.786
12,Los Rios,LR,18429,411205,10768,0.487,0.795
13,Los Lagos,LL,48583,907429,12757,0.486,0.795
14,Aysen del General Carlos Ibañez del Campo,AI,108494,108306,18708,0.486,0.807
15,Magallanes y de la Antartica Chilena,MA,132297,182217,17284,0.464,0.864

In [51]:
pd.options.display.float_format = '{:.2f}'.format
CHILE_DATAFRAME.describe()

,Territorio_Region,Poblacion_Region,PIB_Region,GINI_Region,IDH_Region
count,16.00,16.00,16.00,16.00,16.00
mean,47256.06,1253058.12,15263.38,0.46,0.84
std,40782.40,1984380.71,7058.17,0.03,0.04
min,13178.00,108306.00,8467.00,0.41,0.79
25%,16753.75,384713.25,11047.75,0.45,0.80
50%,31069.00,796704.50,12538.00,0.46,0.83
75%,55231.25,1064146.25,17640.00,0.49,0.87
max,132297.00,8420729.00,37282.00,0.51,0.88

1.2 Agregar una columna donde usted diga si lo visito o no, llamela Turismo_Propio. haga una columna con assign() y otra con insert()

In [25]:
CHILE_DATAFRAME['Turismo_Propio']=['si','no','si','si','si','si','si','no','si','si','no','no','si','no','si','si']
CHILE_DATAFRAME

,Nombre_Region,Abreviatura_Region,Territorio_Region,Poblacion_Region,PIB_Region,GINI_Region,IDH_Region,Turismo_Propio
0,Arica y Parinacota,AP,16873,259802,10126,0.425,0.882,si
1,Tarapacá,TA,42225,406287,20379,0.429,0.882,no
2,Antofagasta,AN,126049,714142,37282,0.439,0.875,si
3,Atacama,AT,75176,319992,21094,0.454,0.855,si
4,Coquimbo,CO,40579,879267,11808,0.462,0.830,si
5,Valparaiso,VA,16396,2010849,12319,0.459,0.867,si
6,Metropolitana,RM,15403,8420729,16836,0.507,0.883,si
7,Libertador General Bernardo OHiggings,LI,16387,1025586,13673,0.412,0.820,no
8,Maule,ML,30296,1171982,11141,0.461,0.790,si
9,Ñuble,NB,13178,521711,8467,0.480,0.826,si
10,Biobio,BI,23890,1681225,12296,0.480,0.826,no
11,La Araucania,AR,31842,1028201,9276,0.503,0.786,no
12,Los Rios,LR,18429,411205,10768,0.487,0.795,si
13,Los Lagos,LL,48583,907429,12757,0.486,0.795,no
14,Aysen del General Carlos Ibañez del Campo,AI,108494,108306,18708,0.486,0.807,si
15,Magallanes y de la Antartica Chilena,MA,132297,182217,17284,0.464,0.864,si

1.3 Generar una copia del DataFrame, filtrando solo las regiones que usted a visitado, y reindexar las filas del nuevo DataFrame

In [32]:
#metodo uno
CHILE_DATAFRAME_SI=CHILE_DATAFRAME[CHILE_DATAFRAME['Turismo_Propio']=='si']
CHILE_DATAFRAME_NO=CHILE_DATAFRAME[CHILE_DATAFRAME['Turismo_Propio']=='no']

In [37]:
CHILE_DATAFRAME_SI=CHILE_DATAFRAME_SI.reset_index(drop=True)
CHILE_DATAFRAME_SI

,Nombre_Region,Abreviatura_Region,Territorio_Region,Poblacion_Region,PIB_Region,GINI_Region,IDH_Region,Turismo_Propio
0,Arica y Parinacota,AP,16873,259802,10126,0.425,0.882,si
1,Antofagasta,AN,126049,714142,37282,0.439,0.875,si
2,Atacama,AT,75176,319992,21094,0.454,0.855,si
3,Coquimbo,CO,40579,879267,11808,0.462,0.830,si
4,Valparaiso,VA,16396,2010849,12319,0.459,0.867,si
5,Metropolitana,RM,15403,8420729,16836,0.507,0.883,si
6,Maule,ML,30296,1171982,11141,0.461,0.790,si
7,Ñuble,NB,13178,521711,8467,0.480,0.826,si
8,Los Rios,LR,18429,411205,10768,0.487,0.795,si
9,Aysen del General Carlos Ibañez del Campo,AI,108494,108306,18708,0.486,0.807,si
10,Magallanes y de la Antartica Chilena,MA,132297,182217,17284,0.464,0.864,si

1.4 Del Dataframe original, haga usando un value_counts(), vea cuantos regiones visito y cuantos no. Saque el % de visita que tiene usted en chile

In [41]:
porcentaje=100*CHILE_DATAFRAME['Turismo_Propio'].value_counts()/len(CHILE_DATAFRAME)
print(porcentaje)

si    68.75
no    31.25
Name: Turismo_Propio, dtype: float64

1.5 Contraste el promedio del pib percapita de los paises visitados y los no visitados

In [47]:
promedio_si=CHILE_DATAFRAME_SI['PIB_Region'].mean()
promedio_no=CHILE_DATAFRAME_NO['PIB_Region'].mean()
print(round(promedio_si),2)
print(round(promedio_no),2)

15985 2
13676 2

1.6 Ordene mediante sort_values() los paises por indice percapita, y reindexe con este orden con set_index o sort_index

In [52]:
CHILE_DATAFRAME.sort_values(['PIB_Region'],ascending=False).reset_index(drop=True)

,Nombre_Region,Abreviatura_Region,Territorio_Region,Poblacion_Region,PIB_Region,GINI_Region,IDH_Region,Turismo_Propio
0,Antofagasta,AN,126049,714142,37282,0.44,0.88,si
1,Atacama,AT,75176,319992,21094,0.45,0.85,si
2,Tarapacá,TA,42225,406287,20379,0.43,0.88,no
3,Aysen del General Carlos Ibañez del Campo,AI,108494,108306,18708,0.49,0.81,si
4,Magallanes y de la Antartica Chilena,MA,132297,182217,17284,0.46,0.86,si
5,Metropolitana,RM,15403,8420729,16836,0.51,0.88,si
6,Libertador General Bernardo OHiggings,LI,16387,1025586,13673,0.41,0.82,no
7,Los Lagos,LL,48583,907429,12757,0.49,0.80,no
8,Valparaiso,VA,16396,2010849,12319,0.46,0.87,si
9,Biobio,BI,23890,1681225,12296,0.48,0.83,no
10,Coquimbo,CO,40579,879267,11808,0.46,0.83,si
11,Maule,ML,30296,1171982,11141,0.46,0.79,si
12,Los Rios,LR,18429,411205,10768,0.49,0.80,si
13,Arica y Parinacota,AP,16873,259802,10126,0.42,0.88,si
14,La Araucania,AR,31842,1028201,9276,0.50,0.79,no
15,Ñuble,NB,13178,521711,8467,0.48,0.83,si

1.7 Use rename para a la columna Turismo_Propio, llamarla visitado

In [55]:
CHILE_DATAFRAME=CHILE_DATAFRAME.rename(columns={'Turismo_Propio':'visitado'})
CHILE_DATAFRAME

,Nombre_Region,Abreviatura_Region,Territorio_Region,Poblacion_Region,PIB_Region,GINI_Region,IDH_Region,visitado
0,Arica y Parinacota,AP,16873,259802,10126,0.42,0.88,si
1,Tarapacá,TA,42225,406287,20379,0.43,0.88,no
2,Antofagasta,AN,126049,714142,37282,0.44,0.88,si
3,Atacama,AT,75176,319992,21094,0.45,0.85,si
4,Coquimbo,CO,40579,879267,11808,0.46,0.83,si
5,Valparaiso,VA,16396,2010849,12319,0.46,0.87,si
6,Metropolitana,RM,15403,8420729,16836,0.51,0.88,si
7,Libertador General Bernardo OHiggings,LI,16387,1025586,13673,0.41,0.82,no
8,Maule,ML,30296,1171982,11141,0.46,0.79,si
9,Ñuble,NB,13178,521711,8467,0.48,0.83,si
10,Biobio,BI,23890,1681225,12296,0.48,0.83,no
11,La Araucania,AR,31842,1028201,9276,0.50,0.79,no
12,Los Rios,LR,18429,411205,10768,0.49,0.80,si
13,Los Lagos,LL,48583,907429,12757,0.49,0.80,no
14,Aysen del General Carlos Ibañez del Campo,AI,108494,108306,18708,0.49,0.81,si
15,Magallanes y de la Antartica Chilena,MA,132297,182217,17284,0.46,0.86,si

1.8 Mover la columna GINI_REGION a IDH_Region

In [57]:
columnas=CHILE_DATAFRAME.columns.tolist()
columnas

['Nombre_Region',
 'Abreviatura_Region',
 'Territorio_Region',
 'Poblacion_Region',
 'PIB_Region',
 'GINI_Region',
 'IDH_Region',
 'visitado']

In [61]:
columnas.insert(5,columnas.pop(columnas.index('IDH_Region')))
CHILE_DATAFRAME=CHILE_DATAFRAME[columnas]
CHILE_DATAFRAME

,Nombre_Region,Abreviatura_Region,Territorio_Region,Poblacion_Region,PIB_Region,IDH_Region,GINI_Region,visitado
0,Arica y Parinacota,AP,16873,259802,10126,0.88,0.42,si
1,Tarapacá,TA,42225,406287,20379,0.88,0.43,no
2,Antofagasta,AN,126049,714142,37282,0.88,0.44,si
3,Atacama,AT,75176,319992,21094,0.85,0.45,si
4,Coquimbo,CO,40579,879267,11808,0.83,0.46,si
5,Valparaiso,VA,16396,2010849,12319,0.87,0.46,si
6,Metropolitana,RM,15403,8420729,16836,0.88,0.51,si
7,Libertador General Bernardo OHiggings,LI,16387,1025586,13673,0.82,0.41,no
8,Maule,ML,30296,1171982,11141,0.79,0.46,si
9,Ñuble,NB,13178,521711,8467,0.83,0.48,si
10,Biobio,BI,23890,1681225,12296,0.83,0.48,no
11,La Araucania,AR,31842,1028201,9276,0.79,0.50,no
12,Los Rios,LR,18429,411205,10768,0.80,0.49,si
13,Los Lagos,LL,48583,907429,12757,0.80,0.49,no
14,Aysen del General Carlos Ibañez del Campo,AI,108494,108306,18708,0.81,0.49,si
15,Magallanes y de la Antartica Chilena,MA,132297,182217,17284,0.86,0.46,si

1.9 Agregar otra fila llamarla con algun nombre ficticio e incorporarla al dataframe HINT: USE APPEND

In [64]:
otra_fila={'Nombre_Region':'IMAGINARIO','Abreviatura_Region':'IM','Territorio_Region':212563,'Poblacion_Region':890231,'PIB_Region':19321,'IDH_Region':0.84,'GINI_Region':0.45,'visitado':'no'}
CHILE_DATAFRAME=CHILE_DATAFRAME.append(otra_fila,ignore_index=True)
CHILE_DATAFRAME

C:\Users\Usuario\AppData\Local\Temp\ipykernel_9704\471438216.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CHILE_DATAFRAME=CHILE_DATAFRAME.append(otra_fila,ignore_index=True)

,Nombre_Region,Abreviatura_Region,Territorio_Region,Poblacion_Region,PIB_Region,IDH_Region,GINI_Region,visitado
0,Arica y Parinacota,AP,16873,259802,10126,0.88,0.42,si
1,Tarapacá,TA,42225,406287,20379,0.88,0.43,no
2,Antofagasta,AN,126049,714142,37282,0.88,0.44,si
3,Atacama,AT,75176,319992,21094,0.85,0.45,si
4,Coquimbo,CO,40579,879267,11808,0.83,0.46,si
5,Valparaiso,VA,16396,2010849,12319,0.87,0.46,si
6,Metropolitana,RM,15403,8420729,16836,0.88,0.51,si
7,Libertador General Bernardo OHiggings,LI,16387,1025586,13673,0.82,0.41,no
8,Maule,ML,30296,1171982,11141,0.79,0.46,si
9,Ñuble,NB,13178,521711,8467,0.83,0.48,si
10,Biobio,BI,23890,1681225,12296,0.83,0.48,no
11,La Araucania,AR,31842,1028201,9276,0.79,0.50,no
12,Los Rios,LR,18429,411205,10768,0.80,0.49,si
13,Los Lagos,LL,48583,907429,12757,0.80,0.49,no
14,Aysen del General Carlos Ibañez del Campo,AI,108494,108306,18708,0.81,0.49,si
15,Magallanes y de la Antartica Chilena,MA,132297,182217,17284,0.86,0.46,si
16,IMAGINARIO,IM,212563,890231,19321,0.84,0.45,no

1.10 seleccione de los lugares que visito, solo la columna nombre de region y el pib

In [74]:
CHILE_DATAFRAME[CHILE_DATAFRAME['visitado']=='si'][['Nombre_Region','PIB_Region']]

                                Nombre_Region  PIB_Region
0                          Arica y Parinacota       10126
2                                 Antofagasta       37282
3                                     Atacama       21094
4                                    Coquimbo       11808
5                                  Valparaiso       12319
6                               Metropolitana       16836
8                                       Maule       11141
9                                       Ñuble        8467
12                                   Los Rios       10768
14  Aysen del General Carlos Ibañez del Campo       18708
15       Magallanes y de la Antartica Chilena       17284

BONUS: USE NP.WHERE() SI EL IDH ES >0.8 ES ALTO, SI ES >0.7 MEDIO Y EN OTRO CASO BAJO

In [311]:
CHILE_DATAFRAME['OPINION DE IDH']=np.where(CHILE_DATAFRAME['IDH_Region']>=0.8,'ALTO',np.where(CHILE_DATAFRAME['IDH_Region']>=0.7,'MEDIO','BAJO'))

In [312]:
CHILE_DATAFRAME

,Nombre_Region,Abreviatura_Region,Territorio_Region,Poblacion_Region,PIB_Region,IDH_Region,GINI_Region,visitado,OPINION DE IDH
0,Arica y Parinacota,AP,16873,259802,10126,0.88,0.42,si,ALTO
1,Tarapacá,TA,42225,406287,20379,0.88,0.43,no,ALTO
2,Antofagasta,AN,126049,714142,37282,0.88,0.44,si,ALTO
3,Atacama,AT,75176,319992,21094,0.85,0.45,si,ALTO
4,Coquimbo,CO,40579,879267,11808,0.83,0.46,si,ALTO
5,Valparaiso,VA,16396,2010849,12319,0.87,0.46,si,ALTO
6,Metropolitana,RM,15403,8420729,16836,0.88,0.51,si,ALTO
7,Libertador General Bernardo OHiggings,LI,16387,1025586,13673,0.82,0.41,no,ALTO
8,Maule,ML,30296,1171982,11141,0.79,0.46,si,MEDIO
9,Ñuble,NB,13178,521711,8467,0.83,0.48,si,ALTO
10,Biobio,BI,23890,1681225,12296,0.83,0.48,no,ALTO
11,La Araucania,AR,31842,1028201,9276,0.79,0.50,no,MEDIO
12,Los Rios,LR,18429,411205,10768,0.80,0.49,si,MEDIO
13,Los Lagos,LL,48583,907429,12757,0.80,0.49,no,MEDIO
14,Aysen del General Carlos Ibañez del Campo,AI,108494,108306,18708,0.81,0.49,si,ALTO
15,Magallanes y de la Antartica Chilena,MA,132297,182217,17284,0.86,0.46,si,ALTO
16,IMAGINARIO,IM,212563,890231,19321,0.84,0.45,no,ALTO

# Parte 2

2.1 Genera un DataFrame de 15 filas que incluya nombre, apellido (deben haber 3 pares de apellidos iguales), genero (8 masculinos y 7 femeninos) y ponga 3 columnas aleatorias con notas de castellano, matematicas y ciencia

In [2]:
import pandas as pd
import numpy as np  
import random as rd 
NOMBRES=['Juan','Diego','Esteban','Constanza','Sergio','María','Kathy','Ricardo','Damian','Roberto','Andrea','Cristobal','Virginia','Amanda','Alejandra']
APELLIDOS=['Osorio','Bertin','Serrano','Ljubetic','Osorio','Osorio','Herrada','Bertin','Caroca','Altamirano','Gonzalez','Gonzalez','Ripamonti','Olmedo','Mardones']
GENERO=['M','M','M','F','M','F','F','M','M','M','F','M','F','F','F']
RUBRICA={'NOMBRES':NOMBRES,'APELLIDOS':APELLIDOS,'GENERO':GENERO}
RUBRICA_DF=pd.DataFrame(RUBRICA)
#RUBRICA_DF['MATEMATICAS']=[100*rd.random() for _ in range(len(RUBRICA_DF))]
#RUBRICA_DF['CASTELLANO']=[100*rd.random() for _ in range(len(RUBRICA_DF))]
#RUBRICA_DF['CIENCIAS']=[100*rd.random() for _ in range(len(RUBRICA_DF))]
RUBRICA_DF['MATEMATICAS']=[np.clip(np.random.normal(loc=70,scale=10),0,100)  for _ in range(len(RUBRICA_DF))] #valores aleatorios en una normal con maximos y minimos definidos
RUBRICA_DF['CASTELLANO']=[np.clip(np.random.normal(loc=50,scale=15),0,100)  for _ in range(len(RUBRICA_DF))]
RUBRICA_DF['CIENCIAS']=[np.clip(np.random.normal(loc=60,scale=20),0,100) for _ in range(len(RUBRICA_DF))]
RUBRICA_DF

      NOMBRES   APELLIDOS GENERO  MATEMATICAS  CASTELLANO    CIENCIAS
0        Juan      Osorio      M    78.643510   53.566372   88.932368
1       Diego      Bertin      M    66.567670   69.117242   32.335438
2     Esteban     Serrano      M    81.045813   45.720787   38.821745
3   Constanza    Ljubetic      F    71.632909   61.653409   59.411940
4      Sergio      Osorio      M    57.293606   39.098705   57.763306
5       María      Osorio      F    64.648918   39.146643   47.044507
6       Kathy     Herrada      F    75.626916   36.200411   67.345731
7     Ricardo      Bertin      M    71.610281   48.839143   91.096968
8      Damian      Caroca      M    93.193119   65.163343   65.898887
9     Roberto  Altamirano      M    67.721783   78.427015  100.000000
10     Andrea    Gonzalez      F    80.088168   66.102490   48.553811
11  Cristobal    Gonzalez      M    65.691782   48.144226   60.133737
12   Virginia   Ripamonti      F    61.385148   66.699907   52.721250
13     Amanda      Olmedo      F    78.199756   58.053899   27.883977
14  Alejandra    Mardones      F    75.585886   53.267948   72.818412

2.2 Fije una regla de aprobación, donde matematicas pondere 50%, castellano 30% y ciencia 20%. Hint(np_select() )

In [3]:
RUBRICA_DF['PROMEDIO']=0.5*RUBRICA_DF['MATEMATICAS']+0.3*RUBRICA_DF['CASTELLANO']+0.2*RUBRICA_DF['CIENCIAS']
condiciones=[(RUBRICA_DF['PROMEDIO']<=50),(RUBRICA_DF['PROMEDIO']<=60),(RUBRICA_DF['PROMEDIO']<=100)]
resultado=['REPROBADO','REPECHAJE','APROBADO']
RUBRICA_DF['RESULTADO']=np.select(condiciones,resultado, default='SIN CATEGORIA')
RUBRICA_DF

,NOMBRES,APELLIDOS,GENERO,MATEMATICAS,CASTELLANO,CIENCIAS,PROMEDIO,RESULTADO
0,Juan,Osorio,M,78.643510,53.566372,88.932368,73.178140,APROBADO
1,Diego,Bertin,M,66.567670,69.117242,32.335438,60.486095,APROBADO
2,Esteban,Serrano,M,81.045813,45.720787,38.821745,62.003492,APROBADO
3,Constanza,Ljubetic,F,71.632909,61.653409,59.411940,66.194865,APROBADO
4,Sergio,Osorio,M,57.293606,39.098705,57.763306,51.929076,REPECHAJE
5,María,Osorio,F,64.648918,39.146643,47.044507,53.477353,REPECHAJE
6,Kathy,Herrada,F,75.626916,36.200411,67.345731,62.142727,APROBADO
7,Ricardo,Bertin,M,71.610281,48.839143,91.096968,68.676277,APROBADO
8,Damian,Caroca,M,93.193119,65.163343,65.898887,79.325340,APROBADO
9,Roberto,Altamirano,M,67.721783,78.427015,100.000000,77.388996,APROBADO
10,Andrea,Gonzalez,F,80.088168,66.102490,48.553811,69.585593,APROBADO
11,Cristobal,Gonzalez,M,65.691782,48.144226,60.133737,59.315906,REPECHAJE
12,Virginia,Ripamonti,F,61.385148,66.699907,52.721250,61.246796,APROBADO
13,Amanda,Olmedo,F,78.199756,58.053899,27.883977,62.092843,APROBADO
14,Alejandra,Mardones,F,75.585886,53.267948,72.818412,68.337010,APROBADO

In [9]:
SOLO_APROBADOS=RUBRICA_DF[RUBRICA_DF['RESULTADO']=='APROBADO']

In [10]:
SOLO_APROBADOS=RUBRICA_DF[RUBRICA_DF['RESULTADO']=='APROBADO'].value_counts(RUBRICA_DF['GENERO'])/RUBRICA_DF.value_counts(RUBRICA_DF['GENERO'])
SOLO_APROBADOS

GENERO
F    0.857143
M    0.750000
dtype: float64

In [11]:
RUBRICA_DF[RUBRICA_DF['RESULTADO']=='APROBADO'].value_counts(RUBRICA_DF['GENERO'])

GENERO
F    6
M    6
dtype: int64

In [12]:
RUBRICA_DF.value_counts(RUBRICA_DF['GENERO'])

GENERO
M    8
F    7
dtype: int64

2.5 Filtre con tres condiciones, los aprobados y que tengan =>70 en Ciencias y menos de <= en matematicas

In [16]:
SOLO_APROBADOS2=RUBRICA_DF[(RUBRICA_DF['RESULTADO']=='APROBADO') & (RUBRICA_DF['CIENCIAS']>=70)& (RUBRICA_DF['MATEMATICAS']<=70)]
SOLO_APROBADOS2

,NOMBRES,APELLIDOS,GENERO,MATEMATICAS,CASTELLANO,CIENCIAS,PROMEDIO,RESULTADO
9,Roberto,Altamirano,M,67.721783,78.427015,100.0,77.388996,APROBADO

2.5 Usando el metodo duplicated(), encuentre a los hermanos (mismo apellido), guardelo en un dataframe y muestrelo

In [217]:
RUBRICA_no_hermanos=pd.DataFrame(RUBRICA_DF['APELLIDOS'].drop_duplicates(keep=False)) #me deja los no duplicados en una lista, que despues contrasto
RUBRICA_DF['NO HERMANOS']=RUBRICA_DF['APELLIDOS'].isin(RUBRICA_no_hermanos['APELLIDOS']) #BUSCO esos no duplicados en mi DF y atribuye T o F

In [219]:
RUBRICA_DF_HERMANOS=RUBRICA_DF[RUBRICA_DF['NO HERMANOS']==False].sort_values(by='APELLIDOS', ascending=True)
RUBRICA_DF_HERMANOS

,NOMBRES,APELLIDOS,GENERO,MATEMATICAS,CASTELLANO,CIENCIAS,PROMEDIO,RESULTADO,NO HERMANOS
1,Diego,Bertin,M,83.87,57.63,100.00,79.22,APROBADO,False
7,Ricardo,Bertin,M,79.40,43.72,53.02,63.42,APROBADO,False
10,Andrea,Gonzalez,F,63.89,56.61,64.23,61.78,APROBADO,False
11,Cristobal,Gonzalez,M,82.06,22.68,38.16,55.46,REPECHAJE,False
0,Juan,Osorio,M,65.02,54.81,39.02,56.76,REPECHAJE,False
4,Sergio,Osorio,M,59.71,31.53,84.20,56.15,REPECHAJE,False
5,María,Osorio,F,63.93,44.69,80.72,61.52,APROBADO,False

2.6 Haga 3 dataframe, 1 que contenga los que tienen 70 o mas en matematicas, otro con 70 o mas en castellano y otro con 70 o mas en ciencias

In [230]:
RUBRICA_DF_APROBADOS=RUBRICA_DF[RUBRICA_DF['RESULTADO']=='APROBADO']
RUBRICA_DF_REPECHAJE=RUBRICA_DF[RUBRICA_DF['RESULTADO']=='REPECHAJE']
RUBRICA_DF_REPROBRADOS=RUBRICA_DF[RUBRICA_DF['RESULTADO']=='REPROBADO']

In [232]:
RUBRICA_DF_REPECHAJE

,NOMBRES,APELLIDOS,GENERO,MATEMATICAS,CASTELLANO,CIENCIAS,PROMEDIO,RESULTADO,NO HERMANOS
0,Juan,Osorio,M,65.02,54.81,39.02,56.76,REPECHAJE,False
3,Constanza,Ljubetic,F,82.54,18.21,53.15,57.36,REPECHAJE,True
4,Sergio,Osorio,M,59.71,31.53,84.20,56.15,REPECHAJE,False
9,Roberto,Altamirano,M,72.18,54.55,33.93,59.24,REPECHAJE,True
11,Cristobal,Gonzalez,M,82.06,22.68,38.16,55.46,REPECHAJE,False
14,Alejandra,Mardones,F,68.84,23.35,51.96,51.82,REPECHAJE,True

2.7 Elimine al hermano con peores notas dentro del dataframe, para esto use sort para ordenar y el metodo duplicates

In [249]:
RUBRICA_DF['se elimina']=RUBRICA_DF.sort_values(by=['APELLIDOS','PROMEDIO'],ascending=False).duplicated(subset='APELLIDOS',keep='first')
RUBRICA_DF[RUBRICA_DF['se elimina']==False].sort_values(by=['APELLIDOS','PROMEDIO'],ascending=False)

,NOMBRES,APELLIDOS,GENERO,MATEMATICAS,CASTELLANO,CIENCIAS,PROMEDIO,RESULTADO,NO HERMANOS,se elimina
2,Esteban,Serrano,M,79.57,49.41,79.75,70.56,APROBADO,True,False
12,Virginia,Ripamonti,F,84.89,56.71,85.73,76.61,APROBADO,True,False
5,María,Osorio,F,63.93,44.69,80.72,61.52,APROBADO,False,False
13,Amanda,Olmedo,F,78.67,45.17,63.08,65.50,APROBADO,True,False
14,Alejandra,Mardones,F,68.84,23.35,51.96,51.82,REPECHAJE,True,False
3,Constanza,Ljubetic,F,82.54,18.21,53.15,57.36,REPECHAJE,True,False
6,Kathy,Herrada,F,72.35,50.33,65.66,64.41,APROBADO,True,False
10,Andrea,Gonzalez,F,63.89,56.61,64.23,61.78,APROBADO,False,False
8,Damian,Caroca,M,83.94,42.11,77.14,70.03,APROBADO,True,False
1,Diego,Bertin,M,83.87,57.63,100.00,79.22,APROBADO,False,False
9,Roberto,Altamirano,M,72.18,54.55,33.93,59.24,REPECHAJE,True,False

2.8 Repita el ejercicio 2.7 pero con el mètodo drop_duplicates()

In [250]:
RUBRICA_DF.sort_values(by=['APELLIDOS','PROMEDIO'],ascending=False).drop_duplicates(subset='APELLIDOS',keep='first').sort_values(by=['APELLIDOS','PROMEDIO'],ascending=False)

,NOMBRES,APELLIDOS,GENERO,MATEMATICAS,CASTELLANO,CIENCIAS,PROMEDIO,RESULTADO,NO HERMANOS,se elimina
2,Esteban,Serrano,M,79.57,49.41,79.75,70.56,APROBADO,True,False
12,Virginia,Ripamonti,F,84.89,56.71,85.73,76.61,APROBADO,True,False
5,María,Osorio,F,63.93,44.69,80.72,61.52,APROBADO,False,False
13,Amanda,Olmedo,F,78.67,45.17,63.08,65.50,APROBADO,True,False
14,Alejandra,Mardones,F,68.84,23.35,51.96,51.82,REPECHAJE,True,False
3,Constanza,Ljubetic,F,82.54,18.21,53.15,57.36,REPECHAJE,True,False
6,Kathy,Herrada,F,72.35,50.33,65.66,64.41,APROBADO,True,False
10,Andrea,Gonzalez,F,63.89,56.61,64.23,61.78,APROBADO,False,False
8,Damian,Caroca,M,83.94,42.11,77.14,70.03,APROBADO,True,False
1,Diego,Bertin,M,83.87,57.63,100.00,79.22,APROBADO,False,False
9,Roberto,Altamirano,M,72.18,54.55,33.93,59.24,REPECHAJE,True,False

2.9 Use el método unique() y nunique() para guardar los valores unicos y los duplicados en 2 dataframes distintos

In [254]:
RUBRICA_DF['APELLIDOS'].unique()

array(['Osorio', 'Bertin', 'Serrano', 'Ljubetic', 'Herrada', 'Caroca',
       'Altamirano', 'Gonzalez', 'Ripamonti', 'Olmedo', 'Mardones'],
      dtype=object)

In [255]:
RUBRICA_DF['APELLIDOS'].nunique()

11

# PARTE 3

3.1 Genere una funciona multiplicacion de 3 valores

In [256]:
def multi(a,b,c):
    resultado=a*b*c
    return(resultado)

In [257]:
multi(5,5,4)

100

3.2 genere una lista random sin largo, que se llene en un for aleatorio entre 1 y 100, con numeros aleatorios entre 1 y 1000

In [295]:
import math as mt
n_max=mt.trunc(100*rd.random())
lista=[]
for i in range(1,n_max):
    lista.append(mt.trunc(1000*rd.random()))
len(lista)

13

In [296]:
lista

[987, 551, 767, 676, 211, 158, 951, 399, 834, 295, 794, 723, 43]

3.3 Haga una pregunta de como se llama, que edad tiene, y devuelva el resultado _____ puede/no puede beber alcohol, la condicion es que sea mayor a 18 años

In [300]:
nombre=input("Por favor su nombre:")
edad=input("Agregue su edad:")
if int(edad)<18:
    print(nombre + " no puede beber alcohol, pues tiene "+edad+" , y el alcohol es sólo para mayores de 18")
else:
    print(nombre + " puede beber alcohol, pues tiene "+edad+" , cumple con el minimo")

Diego no puede beber alcohol, pues tiene 14 , y el alcohol es sólo para mayores de 18

3.4 Del ejercicio anterior, agregue la variable de si la edad està entre 18 y 21 años, puede beber pero con supervicion de otro adulto

In [301]:
nombre=input("Por favor su nombre:")
edad=input("Agregue su edad:")
if int(edad)<18:
    print(nombre + " no puede beber alcohol, pues tiene "+edad+" , y el alcohol es sólo para mayores de 18")
else:
    if int(edad)<21:
        print(nombre + " puede beber alcohol solo con un adulto, pues tiene "+edad+" , y necesita supervisiòn")
    else:
        print(nombre + " puede beber alcohol, pues tiene "+edad+" , y es un adulto responsable")

Diego puede beber alcohol solo con un adulto, pues tiene 20 , y necesita supervisiòn

# PARTE 4

4.1 Consulte el dataframe de futbol ingles visto en clase https://www.football-data.co.uk/data.php

In [19]:
import pandas as pd
import numpy as np 
root='https://www.football-data.co.uk/mmz4281/'
temporada=[2324,2223,2122,2021,1920,1819]
diccionario=['E0','E1','E2','E3','EC']
archivo_descarga={'Premier League':'E0','Championship':'E1','League 1':'E2','League 2':'E3','Conference':'EC'}
#la pagina web queda de esta manera
#pagina_web=root+str(temporada[j])+'/'+diccionario[i]+'.csv'

4.2 Cargue en un dataframe todas las ligas entre 2023 y 2019

In [28]:
frames=[]
for i in range(0,4):
    for j in range(0,5):
        pagina_web=root+str(temporada[j])+'/'+diccionario[i]+'.csv'
        dataframe=pd.read_csv(pagina_web)
        frames.append(dataframe) #importante va dejando abajo los nuevos df

4.3 Agregue una columna llamada "temporada", que sea el año que se supone que es la liga

In [36]:
frames=[]
for i in range(0,4):
    for j in range(0,5):
        pagina_web=root+str(temporada[j])+'/'+diccionario[i]+'.csv'
        dataframe=pd.read_csv(pagina_web)
        dataframe.insert(0,'temporada',temporada[j])  #agregamos columna en posicion 0
        frames.append(dataframe) #importante va dejando abajo los nuevos df

4.4 Haga un diccionario de transcripcion de nombre de ligas

In [71]:
root='https://www.football-data.co.uk/mmz4281/'
temporada=[2324,2223,2122,2021,1920,1819]
archivo_descarga={'Premier League':'E0','Championship':'E1','League 1':'E2','League 2':'E3','Conference':'EC'}
frames_por_liga=[] #lista
diccionario_de_frames_por_ligas={}  #diccionario
for i in archivo_descarga: #cacha que para poder hacerlo en un diccionario, el for tiene un diccionario, el i es premier leage, championship, etc
    frames_por_liga=[]
    for j in range(0,5):
        pagina_web=root+str(temporada[j])+'/'+archivo_descarga[i]+'.csv' #aca el archivo de descarga traduce
        dataframe=pd.read_csv(pagina_web, encoding='unicode_escape')
        dataframe.insert(0,'temporada',temporada[j])  #agregamos columna en posicion 0
        dataframe.insert(0,'liga',i)  #agregamos columna en posicion 0, el i es premier leage, championship, etc
        frames_por_liga.append(dataframe) #importante va dejando abajo los nuevos df
    frames_por_liga=pd.concat(frames_por_liga)
    diccionario_de_frames_por_ligas[i]=frames_por_liga
#resumen, me hice una raiz
#hice una lista con temporadas y con las ligas
#hice un diccionario con el significado de la liga en nombre
#el resultado es un diccionario que contiene dataframes

In [67]:
#llamando solo a una temporada
frames['Championship'][frames['Championship']['temporada']==2223]

,liga,temporada,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,Championship,2223,E1,29/07/2022,20:00,Huddersfield,Burnley,0,1,A,...,1.63,0.00,2.09,1.81,2.10,1.82,2.14,1.83,2.09,1.78
1,Championship,2223,E1,30/07/2022,15:00,Blackburn,QPR,1,0,H,...,1.86,-0.50,1.99,1.91,2.01,1.90,2.01,1.95,1.97,1.88
2,Championship,2223,E1,30/07/2022,15:00,Blackpool,Reading,1,0,H,...,1.82,-0.50,2.08,1.82,2.06,1.86,2.11,1.86,2.04,1.82
3,Championship,2223,E1,30/07/2022,15:00,Cardiff,Norwich,1,0,H,...,1.71,0.25,2.01,1.89,2.00,1.90,2.03,2.00,1.95,1.89
4,Championship,2223,E1,30/07/2022,15:00,Hull,Bristol City,2,1,H,...,1.73,-0.25,2.10,1.70,2.12,1.81,2.17,1.81,2.09,1.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,Championship,2223,E1,08/05/2023,15:00,Preston,Sunderland,0,3,A,...,2.24,0.50,1.82,2.08,1.83,2.09,1.95,2.09,1.86,1.97
548,Championship,2223,E1,08/05/2023,15:00,QPR,Bristol City,0,2,A,...,1.95,0.00,1.84,2.06,1.84,2.07,1.91,2.07,1.85,1.99
549,Championship,2223,E1,08/05/2023,15:00,Swansea,West Brom,3,2,H,...,2.23,0.25,1.87,2.03,1.86,2.05,1.92,2.12,1.84,2.00
550,Championship,2223,E1,08/05/2023,15:00,Watford,Stoke,2,0,H,...,1.85,0.00,1.90,2.00,1.88,2.02,1.91,2.12,1.79,2.06
551,Championship,2223,E1,08/05/2023,15:00,Wigan,Rotherham,0,0,D,...,1.91,0.00,2.00,1.90,2.04,1.88,2.08,1.90,2.01,1.83

In [81]:
root='https://www.football-data.co.uk/mmz4281/'
archivo_descarga={'Premier League':'E0','Championship':'E1','League 1':'E2','League 2':'E3','Conference':'EC'}
diccionario_de_dataframes={}
for i in archivo_descarga:
    data_frame_auxiliar=[]
    for j in range(19,24):
        dataframe=pd.read_csv(root+str(j-1)+str(j)+'/'+archivo_descarga[i]+'.csv', encoding='unicode_escape')
        dataframe.insert(0,'temporada',str(j-1)+str(j))
        dataframe.insert(0,'nombre liga',i)
        data_frame_auxiliar.append(dataframe)
    diccionario_de_dataframes[i]=data_frame_auxiliar

In [82]:
diccionario_de_dataframes['Championship']

[      nombre liga temporada Div        Date        HomeTeam          AwayTeam  \
 0    Championship      1819  E1  03/08/2018         Reading             Derby
 1    Championship      1819  E1  04/08/2018      Birmingham           Norwich
 2    Championship      1819  E1  04/08/2018       Brentford         Rotherham
 3    Championship      1819  E1  04/08/2018    Bristol City     Nott'm Forest
 4    Championship      1819  E1  04/08/2018         Ipswich         Blackburn
 ..            ...       ...  ..         ...             ...               ...
 547  Championship      1819  E1  05/05/2019         Reading        Birmingham
 548  Championship      1819  E1  05/05/2019       Rotherham     Middlesbrough
 549  Championship      1819  E1  05/05/2019  Sheffield Weds               QPR
 550  Championship      1819  E1  05/05/2019           Stoke  Sheffield United
 551  Championship      1819  E1  05/05/2019           Wigan          Millwall

      FTHG  FTAG FTR  HTHG  ...  BbAv<2.5 BbAH BbAHh  BbMxAHH  BbAvAHH  \
 0       1     2   A   0.0  ...      1.67   20  0.25     2.01     1.96
 1       2     2   D   0.0  ...      1.64   19 -0.25     2.23     2.15
 2       5     1   H   2.0  ...      2.21   22 -1.00     1.89     1.83
 3       1     1   D   1.0  ...      1.77   19 -0.25     2.25     2.16
 4       2     2   D   1.0  ...      1.65   18 -0.25     2.36     2.28
 ..    ...   ...  ..   ...  ...       ...  ...   ...      ...      ...
 547     0     0   D   0.0  ...      2.03   17  0.00     2.00     1.96
 548     1     2   A   0.0  ...      2.10   18  1.00     1.70     1.63
 549     1     2   A   0.0  ...      2.10   18 -1.00     2.46     2.40
 550     2     2   D   1.0  ...      1.83   17  0.50     1.75     1.69
 551     1     0   H   1.0  ...      1.95   17 -0.50     2.20     2.12

      BbMxAHA  BbAvAHA  PSCH  PSCD  PSCA
 0       1.95     1.88  3.78  3.29  2.19
 1       1.77     1.72  2.86  3.14  2.79
 2       2.09     2.01  1.56  4.38  6.30
 3       1.77     1.71  2.77  3.33  2.74
 4       1.69     1.65  3.23  3.15  2.51
 ..       ...      ...   ...   ...   ...
 547     1.95     1.90  2.75  3.40  2.72
 548     2.47     2.29  4.93  4.27  1.69
 549     1.65     1.58  1.98  3.60  4.09
 550     2.25     2.19  3.36  3.45  2.28
 551     1.79     1.73  2.17  3.57  3.52

 [552 rows x 64 columns],
       nombre liga temporada Div        Date   Time        HomeTeam  \
 0    Championship      1920  E1  02/08/2019  19:45           Luton
 1    Championship      1920  E1  03/08/2019  15:00        Barnsley
 2    Championship      1920  E1  03/08/2019  15:00       Blackburn
 3    Championship      1920  E1  03/08/2019  15:00       Brentford
 4    Championship      1920  E1  03/08/2019  15:00        Millwall
 ..            ...       ...  ..         ...    ...             ...
 547  Championship      1920  E1  22/07/2020  19:30   Nott'm Forest
 548  Championship      1920  E1  22/07/2020  19:30         Reading
 549  Championship      1920  E1  22/07/2020  19:30  Sheffield Weds
 550  Championship      1920  E1  22/07/2020  19:30       West Brom
 551  Championship      1920  E1  22/07/2020  19:30           Wigan

           AwayTeam  FTHG  FTAG FTR  ...  AvgC<2.5  AHCh B365CAHH B365CAHA  \
 0    Middlesbrough     3     3   D  ...      1.79 -0.25     1.94     1.96
 1           Fulham     1     0   H  ...      2.13  0.25     2.04     1.86
 2         Charlton     1     2   A  ...      1.84 -0.75     1.88     2.02
 3       Birmingham     0     1   A  ...      1.93 -0.50     2.00     1.90
 4          Preston     1     0   H  ...      1.66 -0.25     2.11     1.79
 ..             ...   ...   ...  ..  ...       ...   ...      ...      ...
 547          Stoke     1     4   A  ...      1.76 -0.25     2.01     1.89
 548        Swansea     1     4   A  ...      2.18  0.50     1.90     2.00
 549  Middlesbrough     1     2   A  ...      1.93  0.00     1.82     2.08
 550            QPR     2     2   D  ...      2.61 -1.75     1.93     1.97
 551         Fulham     1     1   D  ...      2.25  0.00     1.98     1.92

      PCAHH  PCAHA  MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0     1.96   1.96     1.98     1.98     1.94     1.93
 1     2.05   1.87     2.07     1.88     2.02     1.84
 2     1.91   2.01     1.94     2.02     1.89     1.98
 3     2.01   1.91     2.01     1.96     1.96     1.90
 4     2.12   1.81     2.13     1.87     2.08     1.80
 ..     ...    ...      ...      ...      ...      ...
 547   1.98   1.93     2.02     1.95     1.96     1.89
 548   1.90   2.00     1.95     2.06     1.88     1.96
 549   1.81   2.09     1.83     2.14     1.79     2.07
 550   1.93   1.97     1.95     2.00     1.92     1.94
 551   1.97   1.93     2.07     1.96     1.99     1.86

 [552 rows x 108 columns],
       nombre liga temporada Div        Date   Time       HomeTeam  \
 0    Championship      2021  E1  11/09/2020  19:45        Watford
 1    Championship      2021  E1  12/09/2020  12:30     Birmingham
 2    Championship      2021  E1  12/09/2020  12:30        Wycombe
 3    Championship      2021  E1  12/09/2020  15:00       Barnsley
 4    Championship      2021  E1  12/09/2020  15:00    Bournemouth
 ..            ...       ...  ..         ...    ...            ...
 547  Championship      2021  E1  08/05/2021  12:30  Middlesbrough
 548  Championship      2021  E1  08/05/2021  12:30  Nott'm Forest
 549  Championship      2021  E1  08/05/2021  12:30            QPR
 550  Championship      2021  E1  08/05/2021  12:30        Reading
 551  Championship      2021  E1  08/05/2021  12:30        Watford

           AwayTeam  FTHG  FTAG FTR  ...  AvgC<2.5  AHCh B365CAHH B365CAHA  \
 0    Middlesbrough     1     0   H  ...      1.65 -0.50     2.05     1.85
 1        Brentford     1     0   H  ...      1.67  0.50     1.97     1.93
 2        Rotherham     0     1   A  ...      1.86  0.25     1.99     1.91
 3            Luton     0     1   A  ...      1.83 -0.50     1.77     2.02
 4        Blackburn     3     2   H  ...      1.89 -0.50     2.06     1.84
 ..             ...   ...   ...  ..  ...       ...   ...      ...      ...
 547        Wycombe     0     3   A  ...      2.06 -0.50     1.77     2.02
 548        Preston     1     2   A  ...      1.77 -0.25     1.97     1.93
 549          Luton     3     1   H  ...      2.17 -0.25     1.95     1.95
 550   Huddersfield     2     2   D  ...      2.11 -0.50     1.85     2.05
 551        Swansea     2     0   H  ...      1.80 -0.25     2.08     1.82

      PCAHH  PCAHA  MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0     2.04   1.85     2.09     1.88     2.02     1.82
 1     1.96   1.93     1.97     1.99     1.91     1.93
 2     1.95   1.93     2.04     1.98     1.93     1.92
 3     1.81   2.10     1.87     2.14     1.80     2.05
 4     2.07   1.85     2.11     1.90     2.02     1.83
 ..     ...    ...      ...      ...      ...      ...
 547   1.83   2.07     1.87     2.12     1.81     2.04
 548   1.95   1.95     1.98     1.98     1.93     1.92
 549   1.96   1.94     1.98     2.02     1.90     1.95
 550   1.86   2.05     1.88     2.08     1.84     2.01
 551   2.07   1.85     2.14     1.90     2.04     1.82

 [552 rows x 108 columns],
       nombre liga temporada Div        Date   Time          HomeTeam  \
 0    Championship      2122  E1  06/08/2021  19:45       Bournemouth
 1    Championship      2122  E1  07/08/2021  15:00         Blackburn
 2    Championship      2122  E1  07/08/2021  15:00      Bristol City
 3    Championship      2122  E1  07/08/2021  15:00           Cardiff
 4    Championship      2122  E1  07/08/2021  15:00             Derby
 ..            ...       ...  ..         ...    ...               ...
 547  Championship      2122  E1  07/05/2022  12:30           Preston
 548  Championship      2122  E1  07/05/2022  12:30  Sheffield United
 549  Championship      2122  E1  07/05/2022  12:30             Stoke
 550  Championship      2122  E1  07/05/2022  12:30           Swansea
 551  Championship      2122  E1  07/05/2022  12:30         West Brom

           AwayTeam  FTHG  FTAG FTR  ...  AvgC<2.5  AHCh B365CAHH B365CAHA  \
 0        West Brom     2     2   D  ...      1.84 -0.25     2.13     1.78
 1          Swansea     2     1   H  ...      1.70 -0.25     1.77     2.14
 2        Blackpool     1     1   D  ...      1.66 -0.25     1.90     2.00
 3         Barnsley     1     1   D  ...      1.62 -0.25     2.05     1.75
 4     Huddersfield     1     1   D  ...      1.60 -0.25     1.88     2.02
 ..             ...   ...   ...  ..  ...       ...   ...      ...      ...
 547  Middlesbrough     4     1   H  ...      2.15  0.75     1.84     2.06
 548         Fulham     4     0   H  ...      2.09 -0.25     1.75     2.05
 549       Coventry     1     1   D  ...      2.15 -0.25     1.91     1.99
 550            QPR     0     1   A  ...      2.71 -0.50     1.92     1.98
 551       Barnsley     4     0   H  ...      2.67 -1.75     1.88     2.02

      PCAHH  PCAHA  MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0     2.13   1.80     2.16     1.83     2.09     1.77
 1     1.83   2.09     1.87     2.17     1.81     2.04
 2     1.92   1.99     1.92     2.01     1.89     1.95
 3     2.14   1.80     2.19     1.80     2.11     1.75
 4     1.88   2.01     1.90     2.07     1.87     1.98
 ..     ...    ...      ...      ...      ...      ...
 547   1.88   2.03     2.00     2.09     1.89     1.96
 548   1.79   2.12     1.85     2.13     1.81     2.03
 549   1.95   1.95     1.95     2.01     1.90     1.95
 550   1.94   1.96     2.00     1.99     1.95     1.90
 551   1.91   1.98     1.99     2.06     1.90     1.95

 [552 rows x 108 columns],
       nombre liga temporada Div        Date   Time      HomeTeam  \
 0    Championship      2223  E1  29/07/2022  20:00  Huddersfield
 1    Championship      2223  E1  30/07/2022  15:00     Blackburn
 2    Championship      2223  E1  30/07/2022  15:00     Blackpool
 3    Championship      2223  E1  30/07/2022  15:00       Cardiff
 4    Championship      2223  E1  30/07/2022  15:00          Hull
 ..            ...       ...  ..         ...    ...           ...
 547  Championship      2223  E1  08/05/2023  15:00       Preston
 548  Championship      2223  E1  08/05/2023  15:00           QPR
 549  Championship      2223  E1  08/05/2023  15:00       Swansea
 550  Championship      2223  E1  08/05/2023  15:00       Watford
 551  Championship      2223  E1  08/05/2023  15:00         Wigan

          AwayTeam  FTHG  FTAG FTR  ...  AvgC<2.5  AHCh B365CAHH B365CAHA  \
 0         Burnley     0     1   A  ...      1.63  0.00     2.09     1.81
 1             QPR     1     0   H  ...      1.86 -0.50     1.99     1.91
 2         Reading     1     0   H  ...      1.82 -0.50     2.08     1.82
 3         Norwich     1     0   H  ...      1.71  0.25     2.01     1.89
 4    Bristol City     2     1   H  ...      1.73 -0.25     2.10     1.70
 ..            ...   ...   ...  ..  ...       ...   ...      ...      ...
 547    Sunderland     0     3   A  ...      2.24  0.50     1.82     2.08
 548  Bristol City     0     2   A  ...      1.95  0.00     1.84     2.06
 549     West Brom     3     2   H  ...      2.23  0.25     1.87     2.03
 550         Stoke     2     0   H  ...      1.85  0.00     1.90     2.00
 551     Rotherham     0     0   D  ...      1.91  0.00     2.00     1.90

      PCAHH  PCAHA  MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0     2.10   1.82     2.14     1.83     2.09     1.78
 1     2.01   1.90     2.01     1.95     1.97     1.88
 2     2.06   1.86     2.11     1.86     2.04     1.82
 3     2.00   1.90     2.03     2.00     1.95     1.89
 4     2.12   1.81     2.17     1.81     2.09     1.77
 ..     ...    ...      ...      ...      ...      ...
 547   1.83   2.09     1.95     2.09     1.86     1.97
 548   1.84   2.07     1.91     2.07     1.85     1.99
 549   1.86   2.05     1.92     2.12     1.84     2.00
 550   1.88   2.02     1.91     2.12     1.79     2.06
 551   2.04   1.88     2.08     1.90     2.01     1.83

 [552 rows x 108 columns]]